.calculator {
    width: 350px;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    background-color: #1e1d33;
    border-radius: 20px;
    box-shadow: 8px 8px 6px rgb(7, 7, 7),-3px -3px 0px rgb(56, 55, 55);
    
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color:#113511;
    height: 80px;
    font-size: medium;
    border-radius: 15px;
    justify-content: flex-end;
    display: flex;
    /* direction: rtl; */
    
  }
  #result{ 
    display: flex;
    justify-content: flex-end;
    /* margin: ; */
    color: #fbf9f9;
  }
  
  button {
    border: 0;
    outline: 0;
    width: 55px;
    height: 55px;
    margin: 4px;
    font-size: 20px;
    background-color: hsl(122, 44%, 47%);
    color: #b1adad;
    border-radius: 150px;
    box-shadow: 3px 3px 0px rgb(7, 7, 7), -1px -1px 0px rgb(73, 72, 72);
    background: transparent;
    cursor: pointer;
  }
  .equal{
    width:120px;
  }
  
  button:hover {
    background-color: #204620; 
  }
  
  button:active {
    background-color: hsl(122, 39%, 49%);
  }
  